
services:
  
  backend:
    build: .
    command: >
      sh -c "alembic upgrade head &&
              uvicorn app.main:app --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

    deploy:
      resources:
        limits:
          memory: 1G  # Keeps the backend from eating too much RAM
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  stripe:
    image: stripe/stripe-cli
    env_file:
      - .env
    command: >
      listen 
      --api-key ${STRIPE_SECRET_KEY} 
      --forward-to backend:8000/api/v1/payments/webhooks/stripe
      --skip-verify
    depends_on:
      - backend



  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-e_pharmacy_db}
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 512M



volumes:
  postgres_data:
  redis_data: